<div class="sessionTitle ">
        <!-- <div class="changeArea"> -->
                <div class="sessionPanel3 ">
                        Welcome, {{$ctrl.utilService.username}}
                        <div>
                                <button class='btn btn-link' id='newUserButton' ng-click="$ctrl.account()">My Account</button>
                                <button class='btn btn-link' id='newUserButton' ng-click="$ctrl.history()">History</button>
                        </div>
                        <!-- <search-component> -->
                                        <div class="sessionTitle ">
                                                        <div class="changeArea">
                                                            <div class="sessionPanel3 ">
                                                                Available Flights are
                                                    
                                                                <div class="sessionPanel3">
                                                                    <!-- <ui-view></ui-view> -->
                                                                    <div class="jay-box" ng-repeat="flight in $ctrl.utilService.paths">
                                                                        <div class="formtitle"> Flight Path
                                                                            <!-- <a class="jay-a" ng-click="$ctrl.bookFlight()"> {{ tweet.author.username }}</a>
                                                                    <div class="formsubtitle">{{ tweet.posted | date }}</div> -->
                                                                        </div>
                                                    
                                                                        <div class="formbody">
                                                                            <div>
                                                                                {{ flight.origin }} ----- {{ flight.destination }}
                                                                            </div>
                                                                            <div>
                                                                                <div>Flight Time : {{ flight.flightTime }}</div>
                                                                                <div> Offset : {{ flight.offset }} </div>
                                                                                <div> Layover : {{ flight.layover }}</div>
                                                                                <div> Total Time : {{ flight.totalTime }}</div>
                                                                            </div>
                                                    
                                                                            
                                                                        </div>
                                                    
                                                    
                                                                        <div class="formfooter">
                                                                                
                                                                        </div>
                                                                        <div>
                                                                                
                                                                            <button class='formbutton' ng-click="$ctrl.createItinerary(flight)">Book</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                        <!-- </search-component> -->
                </div>
        <!-- </div> -->
</div>