<div class="sessionPanel2 ">
        <div class="changeArea">
                <div class="sessionTitle2 ">
                        Login to book a flight

                        <div class="sessionPanel3">

                                <div class="jay-box">
                                        <div class="formtitle">Login
                                                <div class="formsubtitle">Welcome back, friend</div>
                                        </div>

                                        <div class="formbody">
                                                <div>Username</div> <input autofocus type="text" class="form-text" id="content" ng-model="$ctrl.submission.username">
                                                <div>Password</div> <input type="password" class="form-text" id="pwd" ng-model="$ctrl.submission.password">
                                        </div>
                                        <div class="formfooter">
                                                <button class='formbutton'  ng-click="$ctrl.guest()"  > Guest</button>
                                                <button class='formbutton' ng-click="$ctrl.login()" >Login</button>
                                        </div>
                                        <button class='btn btn-link' id='newUserButton' ng-click="$ctrl.createNewuser()" >Create New Account</button>

                                </div>
                        </div>
                </div>
        </div>
</div>