<div class="sessionTitle changeArea sessionPanel3">
    Available Flights are
    <div class="sessionPanel3">
        <div class="jay-box" ng-repeat="flight in $ctrl.utilService.paths">
            <div class="formtitle"> Flight Path</div>
            <div class="formbody">
                <div>{{ flight.origin }} ----- {{ flight.destination }}</div>
                <div>
                    <div>Flight Time : {{ flight.flightTime }}</div>
                    <div> Offset : {{ flight.offset }} </div>
                    <div> Layover : {{ flight.layover }}</div>
                    <div> Total Time : {{ flight.totalTime }}</div>
                </div>
            </div>
            <div class="formfooter">
                <button class='formbutton' ng-click="$ctrl.bookFlight()">login to Book</button>
            </div>
        </div>
    </div>
</div>